html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


/* Global Styles */
.container-main{
  min-height: 85vh;
}


/* Nav Bar Css */

.navbar-main{
  background-color: #203040;
  color: #fff !important;
}

.navbar-middle-spacing{
  flex-grow: 1000;
}

.navbar-right-links{

}

.navbar-right-cart{
  
}

.navbar-right-login{

}

/* Product Item page */

.product-item-page-add-to-cart{
  background-color: #FFCA2C !important;
  color: #000 !important;
}

/* Footer Css */

.footer-main{
  text-align: center;
}

